// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #0D1B2A;
$secondary : #1B263B;
$accent    : #415A77;
$dark      : #778DA9;

$positive  : #b7b3a1;
$negative  : #fa3f53;
$info      : #ffffff;
$warning   : #fbd1a2;
